<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>ooo.workflow.sandcastle.portuni</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__REPO__/.sandcastle/start-loop.sh</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>__REPO__/.sandcastle/logs/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO__/.sandcastle/logs/launchd.err.log</string>
</dict>
</plist>
